.texto-habilitado{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 100px;

    text-shadow: 0 0 30px rgb(0, 0, 0);
}

.titulo{
    padding-top: 120px;
    display: block;        /* Permite centrarla */
    margin: 120px auto 40px auto;        
    width: 650px;  

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8))
            drop-shadow(0 0 10px rgba(0, 0, 0, 0.9));
    transition: filter 0.3s ease, transform 0.3s ease;
}

.subtitulos{
    color: #ffffff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.subtitulosoposicion{
    text-align: center;
}

.texto{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.relative {
    position: relative; 
}

.tamañotexto{
    margin-top: 200px;
    margin-bottom: 65px;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
}

.tamañotexto-2{
    margin-top: 180px;
    margin-bottom: 150px;
    text-align: left;
    margin-left: 48%;
    margin-right: 14%;
}