/* ====== MAPA UNDEAD SHELTER ====== */

.us-mapa-contenedor {
    max-width: 1200px;
    margin: 8px auto;
    padding: 20px;
}

.us-mapa-titulo {
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: auto;
    margin-bottom: 20px;
   
}

.us-mapa {
    width: 100%;
    height: 520px;
    border: 2px solid #b40000;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4000080;
}

/* LEYENDA */
.us-mapa-leyenda {
    margin-top: 18px;
    background: #1c1c1c;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    color: #e1e1e1;
}

.us-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.us-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.us-verde { background: #4caf50; }
.us-rojo { background: #e53935; }
.us-amarillo { background: #ffca28; }
